<div class="row">
    <div class="col">
        <h1>Descrevendo o usuário:</h1>
        <p>Nome: {{ name }}</p>
        <p>Email: {{ userData.email }}</p>
        <p>Role: {{ userData.role }}</p>
    </div>
    <div class="col">
        <h1>Outra Coluna</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus autem corporis optio explicabo consequatur suscipit illo, dolores aliquid voluptas deserunt vel nisi? Dolorem fuga sapiente sint expedita cumque adipisci?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus autem corporis optio explicabo consequatur suscipit illo, dolores aliquid voluptas deserunt vel nisi? Dolorem fuga sapiente sint expedita cumque adipisci?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus autem corporis optio explicabo consequatur suscipit illo, dolores aliquid voluptas deserunt vel nisi? Dolorem fuga sapiente sint expedita cumque adipisci?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus autem corporis optio explicabo consequatur suscipit illo, dolores aliquid voluptas deserunt vel nisi? Dolorem fuga sapiente sint expedita cumque adipisci?
        </p>
    </div>
    <div class="col">
        <h1>Outra Coluna Nº 2</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus autem corporis optio explicabo consequatur suscipit illo, dolores aliquid voluptas deserunt vel nisi? Dolorem fuga sapiente sint expedita cumque adipisci?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus autem corporis optio explicabo consequatur suscipit illo, dolores aliquid voluptas deserunt vel nisi? Dolorem fuga sapiente sint expedita cumque adipisci?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus autem corporis optio explicabo consequatur suscipit illo, dolores aliquid voluptas deserunt vel nisi? Dolorem fuga sapiente sint expedita cumque adipisci?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus autem corporis optio explicabo consequatur suscipit illo, dolores aliquid voluptas deserunt vel nisi? Dolorem fuga sapiente sint expedita cumque adipisci?
        </p>
    </div>
</div>
