<div class="header">
    <nav>
        <ul class="menu">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/list">List</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <!-- <h1>A Aulas estão em ordem decrescente</h1> -->
    </div>
    <!-- <app-two-way-binding></app-two-way-binding>
    <app-pipes></app-pipes>
    <app-list-render></app-list-render>
    <app-emitter></app-emitter>
    <app-eventos></app-eventos>
    <app-if-render></app-if-render>
    <app-directives></app-directives>
    <app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
    <app-first></app-first> -->
    <router-outlet> </router-outlet>
    <p>FOOTER</p>
</div>
