/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
}

.container {
    min-width: 98%;
    padding: 1%;
    margin: 1%;
    display: grid;
}

.row {
    width: 98%;
    height: 100%;
    grid-template-rows: auto;
    padding: 1%;
    margin: 1%;
}

.col {
    grid-template-columns: 1fr;
    padding: 1%;
    margin: 1%;
    border-bottom: 1px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 2%;
    text-decoration: underline;
    color: rgb(195, 0, 47);
    transition: ease 2s;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(38, 117, 202);
}

p {
    padding: 0.5%;
    width: 100%;
    line-height: 1.6;
}

.obs {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    color: red;
    text-shadow: 1px 2px 1px white;
    background-color: rgba(0, 0, 0, 0.644);
    margin: 10px 0 10px 0;
}

ul {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: red;
}

li {
    width: 800px;
    color: aqua;
    background-color: rgba(0, 0, 0, 0.986);
    margin-top: 5px;
    padding: 10px;
}

.tipo {
    color: rgb(6, 240, 6);
}

form {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
}

label {
    width: 100%;
    color: black;
    padding: 2%;
    margin-top: 5px;
}

input {
    width: 100%;
    border: 3px solid white;
    border-radius: 12px;
    color: aqua;
    background-color: rgba(0, 0, 0, 0.938);
    padding: 5%;
    margin-top: 10px;
}

.btn {
    width: 100%;
    border: 2px solid green;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.btn2 {
    width: 25%;
    border: 2px solid rgb(40, 118, 203);
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    padding: 5px 2px 5px 2px;
    margin: 10px 20px 10px 20px;
}

.btn-primary {
    color: green;
    font-size: 16px;
}

.btn-secondary {
    color: rgb(40, 118, 203);
    font-size: 1.2vw;
}

.btn.btn-primary:hover {
    border: 2px solid white;
    border-radius: 25px;
    background-color: green;
    color: white;
    padding: 10px;
}

.btn2.btn-secondary:hover {
    border: 2px solid rgb(40, 118, 203);
    border-radius: 25px;
    background-color: rgb(40, 118, 203);
    color: white;
    padding: 5px;
}
